.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color-2);
  line-height: 21px;
  // padding: 16px 18px;
  min-width: 100px;
  min-height: 44px;
  cursor: pointer;
  &:hover {
    background-color: rgb(248, 248, 248);
  }
  &:active {
    background-color: rgb(241, 241, 242);
  }
}

.primary {
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  min-height: 36px;
  font-weight: 700;
  font-size: 1.6rem;
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
  }
  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), rgb(254, 44, 85);
  }
}
.outline {
  background-color: var(--white);
  color: var(--primary-color);
  border-color: var(--primary-color);
  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
  &:active {
    background-color: rgba(254, 44, 85, 0.16);
  }
}
.rounded {
  border-radius: 50px;
  background-color: var(--white);
  color: rgba(22, 24, 35, 0.75);
  border-color: rgba(22, 24, 35, 0.12);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  font-weight: 700;
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
  }
}
.small {
  font-size: 1.6rem;
  padding: 0 8px;
  line-height: 30px;
  min-width: 90px;
}
.large {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 6px 8px;
  line-height: 25px;
  min-width: 168px;
  min-height: 48px;
}
.left-icon {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.disabled {
  cursor: none;
  border: none;
  color: rgba(22, 24, 35, 0.34);
  background-color: rgba(22, 24, 35, 0.06);
  pointer-events: none;
}
