.wrapper {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 80px;
    color: #16182380;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 30px;
    color: var(--primary-color-2);
  }
  .decription {
    color: #16182380;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 8px;
  }
}
