.wrapper {
}
.separate {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
.menu-header {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.back-icon {
  position: absolute;
  left: 0;
  padding-left: 28px;
  font-size: 15px;
  height: 24px;
  width: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-title {
  color: var(--primary-color-2);
  font-size: 16px;
  font-weight: 600;
}
.menu-list {
  overflow-y: auto;
  min-width: 100px;
  padding: 8px 0;
  list-style: none;
}
.menu-item {
  text-decoration: none;

  width: 20px;
  color: rgb(22, 24, 35);
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  padding: 10px 16px;
  border: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  .icon {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 20px;
  }
  .title {
    flex: 1;
  }
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
.lever_1 .menu-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}
.lever_2,
.lever_3 {
  .menu-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 10px 24px;
  }
}

.dark {
  .title,
  .menu-item {
    color: var(--white);
  }
}
