.wrapper {
  margin: 0 8px;
  min-width: 0;
}

.search {
  border: 1px solid transparent;
  display: flex;
  width: 100%;
  align-items: center;
  height: var(--height-search);
  background-color: #f1f1f2;
  border-radius: 92px;
  padding: 0 0 0 16px;
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);

    button {
      background-color: rgba(22, 24, 35, 0.06);
      color: rgb(22, 24, 35) !important;
    }
  }
  input {
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.6rem;
    height: 100%;
    min-width: 0;
    padding: 12px 0;
    caret-color: rgb(254, 44, 85);
  }
  input:not(:placeholder-shown) ~ button {
    color: rgba(22, 24, 35, 0.75);
  }

  .clean,
  .loading {
    color: rgba(22, 24, 35, 0.34);
    font-size: 16px;
    margin: 0 12px;
    // display: none;
  }
  .loading {
    animation: spinner 0.8s linear infinite;
  }
  @keyframes spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .clean {
    cursor: pointer;
  }

  button {
    position: relative;
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    border: none;
    font-size: 20px;
    color: rgba(22, 24, 35, 0.34);
    padding: 11px 16px 11px 12px;
    cursor: pointer;
    margin: 0;
    background-color: transparent;
  }
  button::before {
    content: '';
    width: 0.7625px;
    height: calc(var(--height-search) - 9px * 2);
    left: -0.7625px;
    top: 0;
    margin-top: 9px;
    margin-bottom: 9px;
    position: absolute;
    background-color: rgba(22, 24, 35, 0.12);
  }
  button:active {
    background-color: #e8e8e8;
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}
//search result
.search-result {
  width: 100%;
}
.search-title {
  font-size: 1.4rem;
  padding: 5px 12px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}
.search-list {
  padding: 0;
}
.search-item {
  list-style-type: none;
}
.more-results {
}
.more-btn {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
  padding: 15px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #16282308;
  }
}
//transparent
.transparent {
  .search {
    background-color: transparent;
    border: 1px solid #ffffff80;
  }
  .search input {
    font-weight: 600;
    color: var(--white);
  }
  .search .clean,
  .search .loading {
    color: #ffffff80;
  }

  .search button,
  .search:hover button {
    color: #ffffff80 !important;
  }
  .search button::before {
    background-color: #ffffff80;
  }
  button:active {
    background-color: rgba(0, 0, 0, 0.059);
  }
}
//dark

.search-result.dark {
  background-color: #121212;

  .search-title {
    color: #ffffff80;
  }
  .more-btn {
    color: #ffffff80;
  }
}
