.wrapper {
  max-height: 300px;
}
.emoij-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.emoij-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 6px;
  height: 40px;
  width: 40px;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    background-color: #1618230f;
  }
}
