.wrapper {
}
.container {
  margin-top: var(--defaut-layout-header-height);
  height: calc(100vh - var(--defaut-layout-header-height));
  display: flex;
  width: 100%;
}
.content {
  flex: 1;
  height: 100%;
  overflow: hidden;
}
