.wrapper {
  background-color: #f8f8f8;
  height: 100%;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.back-button {
  position: absolute;
  top: 8px;
  left: -56px;
}
.message-list-container {
  position: relative;
  width: 356px;
  height: 100%;
  flex-shrink: 0;
}
.message-list-wrapper,
.chat-box-wrapper {
  height: 100%;
  min-height: 100%;
}
.message-list-header {
  height: 60px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 24px;
}
.message-list-title {
  font-size: 24px;
  font-weight: 700;
}
.setting-button {
  cursor: pointer;
  font-size: 24px;
}
.message-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.message-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 72px;
  padding: 0 24px;
  cursor: pointer;
  &:hover {
    background-color: #16182308;
    .action-button {
      display: block;
    }
  }
}
.message-item.active {
  background-color: #f1f1f1;
}
.message-avatar {
}
.message-infor {
  margin-left: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  .name {
    font-size: 16px;
    font-weight: 600;
  }
  .newer-text {
    display: flex;
    font-size: 14px;
    color: #161823bf;
  }
  .newer-text-time {
  }
}
.action-button {
  font-size: 20px;
  display: none;
}
.chat-box {
  max-width: 728px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.chat-box-header {
  border-bottom: 0.5px solid #1618231f;
  padding: 16px;
  display: flex;
  align-items: center;
}
.chat-box-avatar {
}
.chat-box-infor {
  margin-left: 12px;
}
.name {
  font-size: 18px;
  font-weight: 600;
}
.username {
  font-size: 16px;
  color: #161823bf;
}

.chat-box-content {
  overflow: auto;
  flex: 1;
  display: flex;

  flex-direction: column-reverse;
}
.chat-item-container {
  display: flex;
  flex-direction: column;
}
.chat-liked {
  height: 18px;
  gap: 5px;
  margin-bottom: 10px;
  align-items: center;
  color: var(--primary-color);
  display: none;
}
.chat-liked.show {
  display: flex;
}
.push {
  align-items: end;
  .chat-liked {
    margin-right: 64px;
  }

  .chat-item {
    width: fit-content;
    flex-direction: row-reverse;
  }

  .chat-content {
    background-color: #1618230f;
  }
}
.pull {
  .chat-liked {
    margin-left: 64px;
  }
}
.chat-item {
  display: flex;

  max-width: 100%;
  gap: 8px;

  margin: 8px 24px 8px 24px;
  &:hover {
    .chat-action-button {
      display: block;
      cursor: pointer;
    }
  }
}
.chat-avatar {
}
.chat-content {
  padding: 7px 12px;
  border-radius: 8px;
  border: 1px solid #1618231f;
  font-size: 16px;
  line-height: 130%;
}

.chat-action-button {
  margin: 7px;
  font-size: 20px;
  display: none;
}
.chat-loading {
  margin: 30px;
}
.chat-box-fooder {
  border-top: 0.5px solid #1618231f;
  display: flex;
  align-items: center;
  padding: 10px 16px;
}
.submit-button {
  margin-left: 16px;
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
  &.show {
    display: block;
  }
}

@media (max-width: 768px) {
  .message-list-container {
    width: 100px;
  }
  .message-list-header {
    display: none;
  }
  .message-item {
    &:hover {
      background-color: #16182308;
      .action-button {
        display: none;
      }
    }
  }
  .message-infor,
  .action-button {
    display: none;
  }
}
