.radio-button {
  display: flex;

  cursor: pointer;
  input[type='radio'] {
    height: 100%;
    width: 100%;
    display: none;
  }
  input[type='radio']:checked + .custom-radio {
    border: 6px solid var(--primary-color);
  }
}
.custom-radio {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #00000026;
}
.title {
  margin-left: 10px;
  font-size: 17px;
  line-height: 130%;
}
.disabled {
  .radio-button {
    cursor: not-allowed;
  }
  .custom-radio {
    background-color: #eeeeee;
  }
  .title {
    color: #0000002b;
  }
}
