.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;

  flex-direction: column;
}
.category-list-container {
  position: absolute;
  top: 0;
  right: 48px;
  left: 48px;
  display: flex;
  align-items: center;
  padding: 28px 0 16px;
  background-color: white;
  transition: all 0.4s ease;
  z-index: 99;
}
.category-content {
  position: relative;
  width: 100%;
}
.category-list {
  height: 42px;

  width: 100%;
  overflow: auto;
  display: flex;

  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  scrollbar-width: none;
}
.arrow-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 80px;
  top: 0;
  bottom: 0;
}
.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2.66667px 16px;
  cursor: pointer;
}
.arrow-container.left {
  background: linear-gradient(-270.11deg, rgb(255, 255, 255) 0.09%, rgba(255, 255, 255, 0) 100.83%) content-box;
  left: 0;
  .arrow-button {
    margin-left: 5px;
  }
}
.arrow-container.left.show {
  display: flex;
}
.arrow-container.right {
  background: linear-gradient(270.11deg, rgb(255, 255, 255) 0.09%, rgba(255, 255, 255, 0) 100.83%) content-box;
  right: 0;
  justify-content: end;
  .arrow-button {
    margin-right: 5px;
  }
}
.category-item {
}
.content {
  padding: 96px 48px 32px;
  overflow: auto;
  width: 100%;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px 16px;
}

@media (max-width: 1415px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 975px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}
