.wrapper {
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: rgb(255, 231, 154);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
