.comment-input-container {
  display: flex;
  align-items: center;
  background-color: #1618230f;
  flex: 1;
  border-radius: 8px;
  padding: 0 9px;
  border: 1px solid transparent;
  height: 38px;
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}
.comment-input {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.mention-button,
.emoji-button {
  display: flex;
  margin: 3px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color-2);
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #0000001f;
  }
}
